a,
a:focus,
a:hover {
  color: #fff;
  transition: 0.2s;
  -moz-transition: 0.2s;s
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

a:focus,
a:hover {

  text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
}

.generativGame
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}



/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #000;
}
body {
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  position:relative;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

form {
  color: black;
}
form label {
  color: white;
}


/*
 * Header
 */

.masthead-nav > li,
.masthead-brand > li {
  display: inline-block;
}
.masthead-nav > li + li,
.masthead-brand > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a,
.masthead-brand > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-brand > li > a:hover,
.masthead-brand > li > a:focus {
  background-color: transparent;
  color:#fff;
}

.masthead a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


tr.danger td {
  background-color: #980000 !important;
}

tr.danger th {
  background-color: #980000 !important;
}

tr.warning td {
  background-color: #FFB81C !important;
}

tr.warning th {
  background-color: #FFB81C !important;
}

tr {
  cursor: pointer;
}


/* VIDEO BACKGROUND */

.video-background {
  z-index:550;
  text-align:center;
  height:100%;
  min-height:100%;
  position:relative;
  overflow:hidden
}

.video-background .video-background-container {
  width:830px;
  max-width:100%;
  display:inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%)
}

.video-background-title {
  font-size:78px;
  color:#fff;
  font-weight:300;
  text-transform:uppercase;
  text-align:center;
  margin-bottom:22px;
  padding-top:20px;
  display:inline-block;
  background-attachment:scroll;
  background-repeat:repeat-x;
  background-position:top center
}

.video-background-default-image {
  background:url(img/cover.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  width:100%;
  height:100%;
  z-index:0;
  backface-visibility:hidden
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

.overlay-mask {
 background-color:black;
 width:100%;
 padding: 20px 0px;
}

.thumbnail-wrapper {
  padding-top: 15px;
}

.thumbnail, .img-thumbnail {
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
   background-color: black;
   border: none;
}

.close{
  color: white !important;
}

.vendu  {
  position:absolute;
  top:250px;
  left:100px;
  width:60%;
  z-index:0;
  font-size:150%;
  background-color:white;
  color:black;
  transform: rotate(-20deg);
  opacity: 0.8;
	}

.overlay-mobile
{
  position:absolute;
  top:0;
  left:0;
  width:445px;
  height:420px;
  z-index:2;
  opacity: 0;
}

.maximize {
  font-size: 220%;
  position: absolute;
  top: 390px;
  left: 213px;
  width: 60%;
  z-index:4;
}

.img-popup-mobile{
  min-width: 100%;
}

.stage{
  position: absolute;
  top: 90%;
  left: 0%;
  z-index:4;
}

.wrapper {
  cursor:pointer;
  position: relative;
}
/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 15px 50px;
  font-weight: bold;
}

.cover-heading {
  font-family: "Impact", serif;
  font-size: 60px;
  font-weight: bold;
}

h2.lead {
  font-family: "Impact", serif;
  font-size: 24px;
  font-weight: bold;
}

h3.lead {
  font-family: "Impact", serif;
  font-size: 24px;
  font-weight: bold;
}

h4{
  font-family: "Impact", serif;
  font-size: 26px;
  font-weight: bold;
}

h3.leadmobile {
  font-family: "Impact", serif;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}

small {
    color:#ccc!important;
}

.active {
  color: firebrick;
}

.description {
    background-color:#222020;
    padding: 10px 0px;
}

.description p {
  text-align: left;
  font-size: 24px;
  margin: 20px 50px 20px 50px;
}

.modal p {
  text-align: left;
  font-size: 20px;
  margin: 20px 50px 20px 50px;
}

.well {
  background-color:#222020;
}

.well p {
  text-align: left;
  font-size: 18px;
}

.well-mobile {
  background-color:#222020;
  font-size: 22px;
  padding-bottom: 20px;
}

.margin-top-80{
  margin-top: 40px;
}

.mobile-container {
  width: 100%;
  padding-top: 115px;
}

/*
 * modal
 */


  .modal-xlg {
       width: 90%;
  }


@media (min-width: 768px) {
  .modal-dialog {
    width: 600;
    margin: 30px auto;
  }
  .modal-content {
    border-color: white;
    background: #000; // or whatever you like
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
}

.modal.closed {
  display: none;

}
.product-viewer__image {
  cursor: pointer;
}

/*
 * Footer
 */

 .footer {

   position: absolute;
   bottom: 0;
 }

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

@media (max-width: @screen-xs) {
    body{font-size: 20px;}

}

@media (max-width: @screen-sm) {
    body{font-size: 20px;}
}


    .navbar-header {
          float: none;
      }
      .navbar-toggle {
          display: block;
          margin-left: 40px;
          margin-top: 24px;
      }
      .navbar-collapse {
          border-top: 1px solid transparent;
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      }
      .navbar-collapse.collapse {
          display: none!important;
      }
      .navbar-collapse.collapse.in {
          display: block!important;
          padding-top: 70px;
          font-size: 26px;
      }
      .navbar-nav {
          float: none!important;
          margin: 7.5px -15px;
      }
      .navbar-nav>li {
          float: none;
      }
      .navbar-nav>li>a {
          padding-top: 10px;
          padding-bottom: 10px;
      }


  .masthead {
    z-index: 1000;
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }

  .cover-heading {
    font-size: 70px;
  }


  label.cameraButton {
  display: inline-block;
  margin: 1em 0;

  /* Styles to make it look like a button */
  padding: 0.5em;
  border: 2px solid #666;
  border-color: #EEE #CCC #CCC #EEE;
  background-color: #222;
  cursor: pointer;
}

/* Look like a clicked/depressed button */
label.cameraButton:active {
  border-color: #CCC #EEE #EEE #CCC;
}

/* This is the part that actually hides the 'Choose file' text box for camera inputs */
label.cameraButton input[accept*="camera"] {
  display: none;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
}

#progress {
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
}


@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    max-width: 900px;
  }
  .masthead {
    max-width: 100%;
     }
}


.mysection{

background-position: right bottom;
background-size: cover;
height: 100%;
}

.center {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   }

.animate-text {
  font: 60px "Resolve Sans Bolder";
  text-transform: uppercase;
  font-weight: bolder;
  visibility:hidden;
  /* transform: scale(1, .8); */
  box-sizing: content-box;
  width: 100%;
  background-color: #D3D3D3;
  color: black;
  padding: 5px;
}

.warm {
  font: 80px "Resolve Sans Bolder";
  font-weight: bolder;
  background: linear-gradient(to right, #14FF00 20%, #AAA8A8 40%, #0010FF 60%, #85FFA4 80%);
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.warm:before {
  content: '';
  position: absolute;
  box-sizing: content-box;
  width: 97%;
  background-color: #D3D3D3;
  padding: 5px;
  height: 90px;
  z-index: -1;
  left: 13px;
}

.highlight {
  font: 80px "Resolve Sans Bolder";
  font-weight: bolder;
  box-sizing: content-box;
  width: 100%;
  text-transform: uppercase;
  background-image: linear-gradient( -225deg, #ff0c00 0%, #ffd700 100% );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  -webkit-text-stroke: 1px #fff;
}

.highlight:before {
  content: '';
  position: absolute;
  box-sizing: content-box;
  width: 97%;
  background-color: #D3D3D3;
  padding: 5px;
  height: 90px;
  z-index: -1;
  left: 13px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


@media only screen and (max-width: 600px) {
  .mysection {
    text-align : center;
  }
}
