<div class="overlay-mask">
  <div class="container mobile-container " id="artistique" >
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="well-mobile">
          <h3 class="leadmobile" >
            200% Originale : Une œuvre d'art sur la tête
          </h3>
          <hr/>
          <br/>
          <p >Depuis plusieurs siècles, la casquette se porte sous différentes formes. Jusqu'au années 80, elle est tour à tour l'effigie des classes populaires et du prolétariat, du domaine sportif ou appartient aux uniformes des forces de l'ordre.</p>
          <p >La révolution des années 80-90 met la casquette de baseball sur le devant de la scene avec différents tissus et logos voyants. Elle possède une visière plus longue et souvent courbée.</p>
          <p ><strong>MetaCasquette</strong> propose une <strong>nouvelle expérience artistique</strong> qui tranche avec le standard de la casquette sportive.</p>
          <p >Nos casquettes sont construites dans des matériaux inédits : cartes de collections, télécartes françaises, miroirs, canettes originales... </p>
          <br/>
          <p ><strong>Une véritable œuvre d'art au sommet de la tête qui ne laisse personne indiférent.</strong></p>
          <p >Il est l'heure de vous démarquer avec cet accessoire de mode indispensable.</p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container mobile-container" id="fabrication_francaise" >
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="well-mobile margin-top-80" >
        <h3 class="leadmobile" >
          100% Fabrication Française
        </h3>
        <hr/>
        <br/>
        <p >MetaCasquette c'est l'art de la fabrication en France. Basé à <strong>Paris</strong>, l'atelier crée des casquettes sur-mesures et entièrement faites à la main.</p>
        <p >Il est important pour nous que nos produits soient adaptés à votre tour de tête. C'est pourquoi nous vous demanderons des mesures afin d'assembler minutieusement toutes les parties dans notre atelier.</p>
        <p >Nos modèles ne sont pas de série, aucune machine ne permet à l'heure actuel de créer ces produits à la chaîne. Les découpes et coutures sont donc faites à la main et chaque pièce est unique : il s'agit ici <strong>d'orfevrerie du chapeau.</strong> </p>
        <br/>
        <p >Chaque modèle est 100% original et inédit.</p>
        <p ><strong>L'unicité de nos casquettes est quelque chose auquel nous tenons.</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="overlay-mask">
  <div class="container mobile-container" id="upcycling" >
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="well-mobile margin-top-80">
          <h3 class="leadmobile" >
            Upcycling
          </h3>
          <hr/>
          <br/>
          <p >L'intégralité de la structure des différents modèles est constituée de matériaux récupérés. On appelle cette technique de l'<strong>Upcycling</strong> ou <strong>Surcyclage</strong> en français.</p>
          <p >Parmi les matériaux utilisés pour nos créations, nous employons des <strong>télécartes téléphoniques</strong>, des <strong>cartes à jouer</strong>, des <strong>carte géographique</strong>, des <strong>circuits imprimés</strong>, des <strong>prospectus</strong>...</p>
          <p >N'importe quel support imprimé peut être constituant d'une casquette, du moment qu'il puisse être assemblé avec une doublure qui lui donnera de la robustesse.</p>
          <p >Nos doublures sont multiples et souvent dépendantes du support initial utilisé. Nous utilisons notamment du cuir provenant de chutes de l'industrie pour les support souples ou de la wax pour les supports rigides.</p>
          <br/>
          <p >Le principe de MetaCasquette est de <strong>détourner n'importe quel matériaux pour en faire un chapeau.</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mobile-container" id="defi_ecologique" >
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="well-mobile margin-top-80" >
        <h3 class="leadmobile" >
          Un Vrai Défi Écologique
        </h3>
        <hr/>
        <br/>
        <p >Généralement les nouvelles marques de luxe font la promotion des matériaux utilisés comme locaux et éthique.</p>
        <p >Bien souvent, seul la conception est réalisée en France. De plus la promotion faite par ces marques ne fait pas état du gaspillage immense générée par l'industrie textile.</p>
        <p >Il est louable d’acquérir des vêtements dont les matériaux sont éthiques, mais s'ils finissent à la poubelle, cela n'a que peu d'intérêt. Rien qu'en <strong>Europe, environ 4 millions</strong> de tonnes de tissus sont jetés ou brûlés chaque année sans aucun processus de recyclage.</p>
        <p >Notre marque prend à contre-pied cette vision, nous ne voulons pas seulement de matériaux <strong>locaux et éthiques</strong> nouvellement fabriqués, nous voulons une <strong>2nd, voir une 3ème vie aux matériaux que nous utilisons</strong>.
          <p >Seul une part infime de fournitures est "nouvellement" fabriqués pour nos créations : il s'agit seulement des coutures. </p>
          <p >Nos casquettes sont entièrement constituées de matériaux de récup de toute sortes ayant pour la plupart du temps (on l'espère) déjà servis.</p>
          <p >C'est bien simple, notre <strong>devise pour créer</strong> ne nous appartient pas, elle est de <strong>Lavoisier : </strong></p>
          <p ><strong>"Rien ne se perd, rien ne se crée, tout se transforme."</strong></p>
        </div>
      </div>
    </div>
  </div>
