<div class="overlay-mask">
  <div class="container mobile-container " id="artistique" >
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;" >
        <div class="well-mobile">
          <h3 class="leadmobile" >
            200% Originale : Une oeuvre d'art sur la tête
          </h3>
          <hr/>
          <br/>
          <p ><strong>MetaCasquette</strong> propose une <strong>nouvelle expérience artistique</strong> qui tranche avec le standard de la casquette sportive.</p>
          <p ><strong>Une véritable oeuvre d'art au sommet de la tête qui ne laisse personne indiférent.</strong></p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container mobile-container" id="fabrication_francaise" >
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12">
      <img class="img-responsive center-block" src="{{ asset('/img/casquettes/05_canadian_cans.png') }}" alt="">
    </div>
    <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;">
      <div class="well-mobile margin-top-80" >
        <h3 class="leadmobile" >
          100% Fabrication Française
        </h3>
        <hr/>
        <br/>
        <p >MetaCasquette c'est l'art de la fabrication en France. Basé à <strong>Paris</strong> l'atelier créé des casquettes entièrement faites à la <strong>main</strong>.</p>
        <br/>
        <p >Chaque modèle est 100% original, inédit et fabriqué sur mesure.</p>
        <p ><strong>L'unicité de nos casquettes c'est quelque chose auquel nous tenons.</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="overlay-mask">
  <div class="container mobile-container" id="upcycling" >
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12" >
        <img class="img-responsive center-block" src="{{ asset('/img/casquettes/02_colored_telecarte.png') }}" alt="">
      </div>
      <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;">
        <div class="well-mobile margin-top-80">
          <h3 class="leadmobile" >
            Upcycling
          </h3>
          <hr/>
          <br/>
          <p >L'intégralité de la structure des différents modèles est constituée de matériaux récupérés.</p>
          <p>On apelle cela de l'<strong>Upcycling</strong> ou <strong>Surcyclage</strong> en français.</p>
          <br/>
          <p >Le principe de MetaCasquette c'est de <strong>détourner n'importe quel matériaux pour en faire un chapeau.</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mobile-container" id="defi_ecologique" >
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12">
      <img class="img-responsive center-block" src="{{ asset('/img/casquettes/01_maps.png') }}" alt="">
    </div>
    <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;">
      <div class="well-mobile margin-top-80" >
        <h3 class="leadmobile" >
          Un Vrai Défi Ecologique
        </h3>
        <hr/>
        <br/>
          <p >Nos casquettes sont entièrement constituées de matériaux ayant déjà servis.</p>
          <p >Une autre vision de <strong>l'écologie</strong>, ne pas produire mais <strong>recréer</strong>.</p>
          <br/>
          <p >C'est bien simple, notre <strong>devise pour créer</strong> ne nous appartient pas, elle est de <strong>Lavoisier : </strong></p>
          <p ><strong>Rien ne se perd, rien ne se crée, tout se transforme</strong>.</p>
        </div>
      </div>
    </div>
  </div>
