<div class="overlay-mask">
  <div class="container mobile-container " id="oeuvre" >
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;" >
        <div class="well-mobile">
          <h3 class="leadmobile" >
            Des casquettes originales et uniques : une œuvre d'art sur la tête
          </h3>
          <hr/>
          <br/>
          <p ><strong>Meta Casquette</strong> des créations uniques, de vraies œuvre d'art sur la tête qui tranche avec l'ensemble des autres casquettes de la planète.</p>
          <p ><strong>Avec Meta Casquette vous ne passerez pas inaperçu !</strong></p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container mobile-container" id="fabrication_francaise" >
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12">
      <img class="img-responsive center-block" src="{{ asset('/img/casquettes/05_canadian_cans.png') }}" alt="">
    </div>
    <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;">
      <div class="well-mobile margin-top-80" >
        <h3 class="leadmobile" >
          Des casquettes fabriquées en France
        </h3>
        <hr/>
        <br/>
        <p ><strong>Meta Casquette</strong> c'est l'art de la fabrication en <strong>France</strong>. L'atelier est basé à Paris dans le quartier du Père Lachaise.</p>
        <p >La majorité des matériaux récupérés et réutilisés dans les créations ont été fabriqués en France.</p>
      </div>
    </div>
  </div>
</div>

<div class="overlay-mask">
  <div class="container mobile-container" id="upcyclee" >
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12" >
        <img class="img-responsive center-block" src="{{ asset('/img/casquettes/02_colored_telecarte.png') }}" alt="">
      </div>
      <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;">
        <div class="well-mobile margin-top-80">
          <h3 class="leadmobile" >
            Upcycling
          </h3>
          <hr/>
          <br/>
          <p >L'intégralité de la structure des différents modèles est constituée de matériaux récupérés.</p>
          <p>On appelle cette technique l'<strong>Upcycling</strong> ou <strong>Surcyclage</strong> en français.</p>
          <br/>
          <p >Le principe de MetaCasquette est de <strong>détourner n'importe quel matériaux pour en faire un chapeau.</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mobile-container" id="defi_ecologique" >
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12">
      <img class="img-responsive center-block" src="{{ asset('/img/casquettes/01_maps.png') }}" alt="">
    </div>
    <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;">
      <div class="well-mobile margin-top-80" >
        <h3 class="leadmobile" >
          Un Vrai Défi Ecologique
        </h3>
        <hr/>
        <br/>
          <p >Nos casquettes sont entièrement constituées de matériaux ayant déjà servis.</p>
          <p >Une autre vision de <strong>l'écologie</strong>, ne pas produire mais <strong>recréer</strong>.</p>
          <br/>
          <p >C'est bien simple, notre <strong>devise pour créer</strong> ne nous appartient pas, elle est de <strong>Lavoisier : </strong></p>
          <p ><strong>"Rien ne se perd, rien ne se crée, tout se transforme".</strong></p>
        </div>
      </div>
    </div>
  </div>
