{% extends 'base.html.twig' %}


{% block body %}
<nav>
			<ul>
				<li><a href="#electronic_card">1</a></li>
				<li><a href="#map">2</a></li>
				<li><a href="#telecarte">3</a></li>
				<li><a href="#telecarte_multi_1">4</a></li>
				<li><a href="#telecarte_multi_2">5</a></li>
				<li><a href="#telecarte_multi_3">6</a></li>
				<li><a href="#telecarte_multi_4">7</a></li>
				<li><a href="#telecarte_multi_5">8</a></li>
				<li><a href="#pokemon">9</a></li>
				<li><a href="#can">10</a></li>
				<li><a href="#other_cans">11</a></li>
				<li><a href="#national_gallery">12</a></li>
				<li><a href="#matos">13</a></li>
				<li><a href="#all">14</a></li>
				<li><a href="#about">15</a></li>
			</ul>
		</nav>
		<audio id="audioIntro">
			<source src="audio/intro_clavier.mp3" type="audio/mp3" />
			Votre navigateur n'est pas compatible
		</audio>
		<div class="wrapper" >
			<div class="intro logo-casquette" style="opacity : 0.0;" > <img src="img/logo_casquette_2_sm.png" /></div>
			<div class="electronic_card electronic_card_background" style="opacity : 0.0;">
				<img width="2400" src="img/metacasquette_0_bg.jpg" />
			</div>
			<div class="electronic_card gl" id="gl" style="opacity : 0.0;"
				data-imageOriginal="img/metacasquette_0_flou.jpg"
				data-imageDepth="img/metacasquette_0_flou_map.jpg"
				data-horizontalThreshold="100"
				data-verticalThreshold="100" >
			</div>
		</div>

{% endblock %}
