{% extends 'base.html.twig' %}


{% block body %}
<nav>
			<ul>
				<li><a href="#electronic_card">1</a></li>
				<li><a href="#map">2</a></li>
				<li><a href="#telecarte">3</a></li>
				<li><a href="#telecarte_multi_1">4</a></li>
				<li><a href="#telecarte_multi_2">5</a></li>
				<li><a href="#telecarte_multi_3">6</a></li>
				<li><a href="#telecarte_multi_4">7</a></li>
				<li><a href="#telecarte_multi_5">8</a></li>
				<li><a href="#pokemon">9</a></li>
				<li><a href="#can">10</a></li>
				<li><a href="#other_cans">11</a></li>
				<li><a href="#national_gallery">12</a></li>
				<li><a href="#matos">13</a></li>
				<li><a href="#all">14</a></li>
				<li><a href="#about">15</a></li>
			</ul>
		</nav>
		<div class="wrapper" >
			<div class="intro gif" > <img src="img/intro.gif" /></div>
			<div class="electronic_card gl" id="gl" style="display:none;"
				data-imageOriginal="img/metacasquette_0.jpg"
				data-imageDepth="img/metacasquette_0-map.jpg"
				data-horizontalThreshold="50"
				data-verticalThreshold="50" >
			</div>
		</div>

{% endblock %}
