{% extends 'base.html.twig' %}
{% block body %}
{% set id = "%04d"|format(metacasquette['#numéro']) %}
<div class="container mobile-container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;" >
        <div class="well-mobile">
          <h3 class="leadmobile" >
            Modèle {{ id }} - {{ metacasquette['Code'] }}
          </h3>
          <hr/>
          <br/>
        </div>
      </div>
    </div>

    {{ form(form) }}

</div>
{% endblock %}
